@font-face{
  font-family: "Revalia";
  src: url("../fonts/Revalia/Revalia-Regular.ttf");
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}