
.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.logo{
  position: relative;
  top: -10px;
  font-family: "Revalia";
  font-size: 4.8rem;
  color: var(--blue-color);
}
.nav-menu-list{
  display: flex;
  justify-content: space-between;

}
.nav-menu-link{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}
