
.header{
background-color: var(--bg-color);
}
.logo{
  position: relative;
  text-align: left;
  top: -10px;
  font-family: "Revalia";
  font-size: 4.8rem;
  color: var(--blue-color);
}
.nav-menu-list{
  display: flex;
  justify-content: space-between;

}
.nav-menu-link{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  transition: .3s;
}
.nav-menu-link:hover{
  color: var(--blue-color);
}

