.portfolio{
  background-color: var(--blue-color);
}

.project-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.project-title{
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
}
.project-name{
  font-size: 1.6rem;
  color: #fff;
}
.portfolio-wrapper{
  row-gap: 20px;
}
.skill-item+.skill-item{
  margin-top: 15px;
}