.skills-title{
  text-align: left;
}
.item-title{
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
.progress{
  width: 90%;
  height: 5px;
  background-color: #c4c4c4;
}
.progress-inner{
  height: 100%;
  width: 70%;
  background-color: var(--blue-color);
}
.skills-wrapper{
  row-gap: 20px;
}
.mySkills-article{
  align-self: center;
}
