@import "../css/grid.css";
@import "../css/font.css";
@import "../css/header.css";
@import "../css/preview.css";
:root{
  font-size: 10px;
  --gray-bg-color:#EEEFF1;
}
html, body{
  height: 100%;
}
.main-screen{
  height: 100vh;
  background-color: var(--gray-bg-color);
}
.img{
  width: 100%;
  height: 100%;
}
.title{
  font-family:"Roboto";
  font-weight: 500;
  font-size: 3.2rem;
}